

  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;

}
.timer{
  display: flex;
  font-size: 40px;
  text-align: center;
  margin-left: 250px;
}
.full-time{
  display: flex;
  font-size: 20px;
  margin-left:250px ;
 
}
.full{margin-left: 15px;}
.button{
  margin-top: 120px; 
  border-radius: 3px; 
  width: 150px; 
  margin-left: 100px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 25px;
}
.time{
  background-color: #85C1E9;
  text-align: center;
  width: 700px;
  margin-left: 80px;
  margin-top: 150px;
  border-radius: 10px;
  border:solid  #D3D3D3;
  box-shadow: 5px 10px #ABB2B9 ;

  
}